<div>
  <h1>Books</h1>
  <% @books.each do |book| %>
  
  <table>
  <ul>
    <p class="book.title">Title</p>
    <p class="book.body">Body</p>
  </ul>
  
  <li>
    <%= book.title %>
    <%= book.body %>
  </li>
  
  <div>
    <%= link_to 'Show', book_path(book.id) %>
    <%= link_to 'Edit', edit_book_path(book.id) %>
    <%= link_to 'Destroy', book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %>
  <% end %>
  </table>
  </div>
</div>