<div class="book-show">
  <div>
  <%= flash[:notice] %>
</div>

<div class="show-title">
<h4>Title:</h4>
  <div class="title-field"><p><%= @book.title %></p></div>
</div>

<div class="show-body">
<h4>Body:</h4>
  <div class="body-field"><p><%= @book.body %></p></div>
</div>
</div>

<div class="show-link">
  <div class="show-edit"><%= link_to 'Edit', edit_book_path(@book.id) %></div>
  <div class="show-back"><%= link_to 'Back', '/books' %></div>
</div>